body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --dark: rgb(10, 32, 32);
  --light: rgb(185, 219, 219);
  --box-shadow: rgba(0, 0, 0, 0.8);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "CirceBold";
  src: url("../assets/fonts/circe-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Circe;
  color: var(--dark);
  font-size: 14px;
}
@media screen and (min-width: 767.99px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: CirceBold;
}

.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 767.99px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1279.99px) {
  .container {
    width: 1280px;
  }
}

.leng {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 15px;
  color: transparent;
  background-image: url("../assert/ua.jpg");
  background-size: contain;
  border: none;
  cursor: pointer;
}
.leng:focus, .leng:active {
  outline: none;
}

.palitra {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 500ms;
}

.color-menu {
  position: absolute;
  bottom: 26px;
  right: 1px;
  background-color: #f5f5dc;
  border-radius: 12px;
  padding: 4px;
  transform: translateY(55px);
  transition: transform 500ms;
}

.move {
  transform: translateY(0px);
}

.rotate {
  transform: rotate(360deg);
}

.first,
.second {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first + .second {
  margin-top: 2px;
}

.color-menu input {
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}

.flag_uk {
  background-image: url("../../assert/eng.jpg");
}

[value=ua],
[value=eng] {
  color: var(--light);
  background-color: var(--dark);
  border: none;
  font-size: 10px;
  font-weight: bold;
}

.container.header {
  position: relative;
  height: 130px;
  display: flex;
  gap: 20px;
  padding: 8px;
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 5px 0px 10px 0px var(--box-shadow);
}
@media screen and (min-width: 767.99px) {
  .container.header {
    gap: 40px;
  }
}

.header_foto {
  width: 120px;
  height: 195px;
  z-index: 1;
  margin-top: 7px;
}
@media screen and (min-width: 767.99px) {
  .header_foto {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1279.99px) {
  .header_foto {
    margin-left: 22px;
  }
}

.header_head {
  font-size: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 767.99px) {
  .header_head {
    font-size: 28px;
  }
}
@media screen and (min-width: 1279.99px) {
  .header_head {
    font-size: 36px;
  }
}

.header_text {
  font-size: 12px;
  margin-top: 20px;
}
@media screen and (min-width: 767.99px) {
  .header_text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1279.99px) {
  .header_text {
    font-size: 20px;
  }
}

.container.wrapper {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 767.99px) {
  .container.wrapper {
    gap: 20px;
  }
}
@media screen and (min-width: 1279.99px) {
  .container.wrapper {
    gap: 40px;
  }
}

.side_bar {
  width: 136px;
  padding: 80px 8px 8px 8px;
  background-color: var(--dark);
  color: var(--light);
  flex-shrink: 0;
  box-shadow: 5px 0px 10px -2px var(--box-shadow);
}
@media screen and (min-width: 767.99px) {
  .side_bar {
    width: 150px;
  }
}
@media screen and (min-width: 1279.99px) {
  .side_bar {
    width: 180px;
  }
}

.contacts_caption,
.techskills_caption,
.softskills_caption,
.language_caption {
  font-size: 14px;
  margin: 16px -8px 8px -8px;
  padding: 4px 8px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--dark);
  background-color: var(--light);
}

.side_bar ul {
  padding-left: 12px;
}

.side_bar li {
  font-size: 12px;
  list-style: circle;
  margin-bottom: 4px;
}
@media screen and (min-width: 767.99px) {
  .side_bar li {
    font-size: 14px;
  }
}

.contacts li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.contacts ul {
  padding-left: 0px;
}

.icon {
  width: 12px;
  height: 12px;
  fill: var(--light);
  flex-shrink: 0;
}

.main-info li {
  list-style: inside;
}

.hero_title,
.projects_title,
.experience_title,
.education_title {
  margin: 16px 0px 12px -5px;
  padding: 4px 20px;
  background-color: var(--light);
  color: var(--dark);
}
@media screen and (min-width: 767.99px) {
  .hero_title,
.projects_title,
.experience_title,
.education_title {
    margin: 20px 0px 16px -10px;
  }
}
@media screen and (min-width: 1279.99px) {
  .hero_title,
.projects_title,
.experience_title,
.education_title {
    margin: 24px 0px 20px -20px;
  }
}

.projects li {
  list-style: none;
}
.projects li:not(.projects li:last-child) {
  border-bottom: 1px solid var(--dark);
}

.projects_img {
  width: 150px;
}

.projects_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
}
@media screen and (min-width: 767.99px) {
  .projects_link {
    flex-direction: row;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */