.container.wrapper {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  @media screen and (min-width: 767.99px) {
    gap: 20px;
  }
  @media screen and (min-width: 1279.99px) {
    gap: 40px;
  }
  @media print {
    gap: 20px;
  }
}
.side_bar {
  width: 136px;
  padding: 80px 8px 8px 8px;
  background-color: var(--dark);
  color: var(--light);
  flex-shrink: 0;
  box-shadow: 5px 0px 10px -2px var(--box-shadow);
  @media screen and (min-width: 767.99px) {
    width: 150px;
  }
  @media screen and (min-width: 1279.99px) {
    width: 180px;
  }
  @media print {
    width: 180px;
    box-shadow: none;
    border-right: 1px solid var(--dark);
  }
}
.contacts_caption,
.techskills_caption,
.softskills_caption,
.language_caption {
  font-size: 14px;
  margin: 16px -8px 8px -8px;
  padding: 4px 8px;
  text-decoration-line: underline;
  color: var(--dark);
  background-color: var(--light);
  @media print {
    print-color-adjust: exact;
  }
}
.side_bar ul {
  padding-left: 12px;
}
.side_bar li {
  font-size: 12px;
  list-style: circle;
  margin-bottom: 4px;
  @media screen and (min-width: 767.99px) {
    font-size: 14px;
  }
}
.contacts li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
.contacts ul {
  padding-left: 0px;
}
.icon {
  width: 12px;
  height: 12px;
  fill: var(--light);
  flex-shrink: 0;
}
.main-info li {
  list-style: inside;
}
.hero_title,
.projects_title,
.experience_title,
.education_title {
  margin: 16px 0px 12px -5px;
  padding: 4px 20px;
  background-color: var(--light);
  color: var(--dark);
  @media screen and (min-width: 767.99px) {
    margin: 20px 0px 16px -10px;
  }
  @media screen and (min-width: 1279.99px) {
    margin: 24px 0px 20px -20px;
  }
  @media print {
    print-color-adjust: exact;
  }
}
.projects li {
  list-style: none;
  &:not(&:last-child) {
    border-bottom: 1px solid var(--dark);
  }
}
.projects_img {
  width: 150px;
}
.projects_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
  @media screen and (min-width: 767.99px) {
    flex-direction: row;
    align-items: center;
  }
@media print {
  flex-direction: row;
  align-items: center;
}
}
.icon.project{
   fill: var(--dark)
}
.github_link{
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 12px;
}