
.leng {
  position: absolute;
  display: block;
  top: 8px;
  right: 5px;
  width: 30px;
  height: 15px;
  color: transparent;
  background-image: url('../assert/ua.jpg');
  border-radius: 5px;
  background-size: contain;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  @media print {
    display: none;
  }
}
.flag_uk {
  background-image: url('../assert/eng.jpg');
}
.printer_wraper {
  position: absolute;
  top: 28px; 
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--dark);
  border: 2px solid var(--light);
  cursor: pointer;
  @media print {
    display: none;
  }
}
.printer_wraper{
  top: 63px;
}
.printer_svg {
  width: 16px;
  height: 16px;
  fill: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.palitra {
  position: absolute;
  bottom: 3px;
  right: 9px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 500ms;
  @media print {
    display: none;
  }
}
.color-menu {
  position: absolute;
  bottom: 26px;
  right: 5px;
  background-color: var(--dark);
  border: 2px solid var(--light);
  border-radius: 12px;
  padding: 4px 2px;
  transform: translateY(56px);
  transition: transform 500ms;
  @media print {
    display: none;
  }
}
.move {
  transform: translateY(0px);
}
.rotate {
  transform: rotate(360deg);
}
.first,
.second {
  width: 22px;
  height: 22px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first + .second {
  margin-top: 5px;
}
.first {
  border: 1px solid var(--light);
}
.color-menu input {
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}

[value='ua'],
[value='eng'] {
  color: var(--light);
  background-color: var(--dark);
  border: none;
  font-size: 10px;
  font-weight: bold;
}
.container.header {
  height: 130px;
  display: flex;
  gap: 20px;
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 5px 0px 10px 0px var(--box-shadow);

  @media screen and (min-width: 767.99px) {
    gap: 40px;
  }
  @media print {
    box-shadow: none;
    gap: 30px;
  }
}
.header_foto {
  width: 120px;
  height: 195px;
  margin-left: 8px;
  z-index: 1;
  margin-top: 7px;
  @media screen and (min-width: 767.99px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1279.99px) {
    margin-left: 30px;
  }
  @media print {
    margin-left: 30px;
  }
}
.header_main {
  overflow: hidden;
  position: relative;
  width: 100%;
  @media print {
    border-bottom: 1px solid var(--dark);
    height: 130px;
  }
}
.header_head {
  margin-right: 40px;
  font-size: 20px;
  margin-top: 20px;
  @media screen and (min-width: 767.99px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1279.99px) {
    font-size: 36px;
  }
  @media print {
    font-size: 36px;
  }
}

.header_text {
  font-size: 12px;
  margin-top: 20px;
  @media screen and (min-width: 767.99px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1279.99px) {
    font-size: 20px;
  }
  @media print {
  font-size: 20px;
  }
}
.hidden {
  display: none;
}